<div class="mt-5" >
    <h1>Gestionar Estacionamientos</h1>
    <p></p><p></p><p></p>
    <h3>Agregar un nuevo estacionamiento</h3>
    <form>
        <div class="form-group">
          <label for="estacionamiento">Nombre del estacionamiento</label>
          <input type="text" [(ngModel)]="estacionamientoSelec.nombre" class="form-control" name="estacionamiento">
        </div>
        <div class="col-log-4 mx-auto">
          <div class="card">
            <div class="class-header">
                Subir imagen
            </div>
            <div class="class-body">
              <div class="form-group">
                <input (change)="onPhotoSelected($event)" type="file" name="imagen1" accept=".jpg,.jpeg,.png" class="d-none" #photoImput/>
                <img [src]="photoSelected || '../../assets/ParqueoBase.jpg'" alt="No Image" (click)="photoImput.click()" height="200"/>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="ubicacion">Ubicacion</label>
          <input type="text" [(ngModel)]="estacionamientoSelec.ubicacion" class="form-control" name="ubicacion">
        </div>

          <div class="form-group">
            <label for="comunes">Espacios comunes</label>
            <input type="number" [(ngModel)]="estacionamientoSelec.espaciosComunes" class="form-control" name="comunes">
          </div>

          <div class="form-group">
            <label for="especiales">Espacios especiales</label>
            <input type="number" [(ngModel)]="estacionamientoSelec.espaciosEspeciales" class="form-control" name="especiales">
          </div>

          <div class="form-group">
            <label for="oficiales">Espacios oficiales</label>
            <input type="number" [(ngModel)]="estacionamientoSelec.espaciosOficiales" class="form-control" name="oficiales">
          </div>

          
              <h3>Registro de horarios: </h3>
          <p></p><p></p>
            
          <div class="horariosForm">
              <!--
              Lunes
              -->
              <h5>Lunes</h5>
              <p></p><p></p>
              <small>Hora de Entrada: </small>
              <p></p><p></p>
              <input type="time" id="horaLunesEntrada" name="horaLunesEntrada" min="00:00" max="24:00">
              <p></p>
              <small>Hora de Salida: </small>
              <p></p>
              <input type="time" id="horaLunesSalida" name="horaLunesSalida" min="00:00" max="24:00">
              <span class="input-group-btn" 
                  style="width:0px;"></span> 
          </div>
          <div class="horariosForm">
            <!--
            Martes
            -->
            <h5>Martes</h5>
            <p></p><p></p>
            <small>Hora de Entrada: </small>
            <p></p><p></p>
            <input type="time" id="horaMartesEntrada" name="horaMartesEntrada" min="00:00" max="24:00">
            <p></p>
            <small>Hora de Salida: </small>
            <p></p>
            <input type="time" id="horaMartesSalida" name="horaMartesSalida" min="00:00" max="24:00">
        </div>
        
        <div class="horariosForm">
          <!--
          Miercoles
          -->
          <h5>Miercoles</h5>
          <p></p><p></p>
          <small>Hora de Entrada: </small>
          <p></p><p></p>
          <input type="time" id="horaMiercolesEntrada" name="horaMiercolesEntrada" min="00:00" max="24:00">
          <p></p>
          <small>Hora de Salida: </small>
          <p></p>
          <input type="time" id="horaMiercolesSalida" name="horaMiercolesSalida" min="00:00" max="24:00">
      </div>
      <div class="horariosForm">
        <!--
        Jueves
        -->
        <h5>Jueves</h5>
        <p></p><p></p>
        <small>Hora de Entrada: </small>
        <p></p><p></p>
        <input type="time" id="horaJuevesEntrada" name="horaJuevesEntrada" min="00:00" max="24:00">
        <p></p>
        <small>Hora de Salida: </small>
        <p></p>
        <input type="time" id="horaJuevesSalida" name="horaJuevesSalida" min="00:00" max="24:00">
    </div>

    <div class="horariosForm">
      <!--
      Viernes
      -->
      <h5>Viernes</h5>
      <p></p><p></p>
      <small>Hora de Entrada: </small>
      <p></p><p></p>
      <input type="time" id="horaViernesEntrada" name="horaViernesEntrada" min="00:00" max="24:00">
      <p></p>
      <small>Hora de Salida: </small>
      <p></p>
      <input type="time" id="horaViernesSalida" name="horaViernesSalida" min="00:00" max="24:00">
    </div>
    <div class="horariosForm">
      <!--
      Sabado
      -->
      <h5>Sabado</h5>
      <p></p><p></p>
      <small>Hora de Entrada: </small>
      <p></p><p></p>
      <input type="time" id="horaSabadoEntrada" name="horaSabadoEntrada" min="00:00" max="24:00">
      <p></p>
      <small>Hora de Salida: </small>
      <p></p>
      <input type="time" id="horaSabadoSalida" name="horaSabadoSalida" min="00:00" max="24:00">
    </div>
    <div class="horariosForm">
      <!--
      Domingo
      -->
      <h5>Domingo</h5>
      <p></p><p></p>
      <small>Hora de Entrada: </small>
      <p></p><p></p>
      <input type="time" id="horaDomingoEntrada" name="horaDomingoEntrada" min="00:00" max="24:00">
      <p></p>
      <small>Hora de Salida: </small>
      <p></p>
      <input type="time" id="horaDomingoSalida" name="horaDomingoSalida" min="00:00" max="24:00">
    </div>
            <label>Tipo de estacionamiento</label>
            <div class="buttons" tile color="secondary" group>
              <button type="button" class="btn btn-secondary" (click)="tipoPropio()" [class.btn-success]="tipoSelec == 1">Propio</button>&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-secondary" (click)="tipoSubcontratado()" [class.btn-success]="tipoSelec == 2">Subcontratado</button>&nbsp;&nbsp;&nbsp;
            </div>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <label>Por realizar: </label>
            <div class="buttons" tile color="secondary" group>
              <button type="submit" class="btn btn-primary" (click)="agregarEstacionamiento()">Agregar estacionamiento</button>&nbsp;&nbsp;&nbsp;
              <button type="submit" *ngIf="isEditing == true" class="btn btn-primary" (click)="actualizarEstacionamiento()">Editar estacionamiento</button>&nbsp;&nbsp;&nbsp;
              <button type="submit" *ngIf="isSelected == true" class="btn btn-danger" (click)="eliminarEstacionamiento()">Borrar estacionamiento</button>&nbsp;&nbsp;&nbsp;
            </div>
          

      </form>

</div>
<p></p>
<p></p>
<h3>Lista de estacionamientos</h3>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item list-group-item-action">Nombre estacionamiento</li>
    <li *ngFor="let estacionamiento of listaEstacionamientos" class="list-group-item list-group-item-action"
    data-aos="fade-right"
    (click)="cargarEstacionamientoSelec(estacionamiento)"
    [class.active]="estacionamiento == estacionamientoSelec">
        {{estacionamiento.nombre}}
    </li>
    <p></p>
    <p></p>
    <p></p> 
    <p></p>
    <p></p>
    <p></p> 
  </ul>
</div>