<div class="mt-5">
    <h2 style="text-align: center;">Consulta de Parqueos</h2>
    <h4>Selecciona un parqueo:</h4>
    <p></p>
    <p></p>
    <!-- <label>Tipo de parqueo: </label>&nbsp;&nbsp;&nbsp;
        <select [(ngModel)]="tipoParqueo" id="dropdown2" name="tipoParqueo">
            <option >Cualquiera</option>&nbsp;&nbsp;&nbsp;
            <option *ngFor="let tipo of tiposParqueos,index as i">{{tipo}}</option>
        </select>&nbsp;&nbsp;&nbsp; -->
    <!-- <div class="btn-group">
        <button [(ngModel)]="tipoParqueo" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Tipo de parqueo</button>
        <ul class="dropdown-menu" [(ngModel)]="tipoParqueo">
            <li ><a *ngFor="let tipo of tiposParqueos" class="dropdown-item" [routerLink]="'/consultar-parqueos'">{{tipo}}</a></li>
        </ul> -->
        <!-- <button (click)="filtrarPorTipo()" class="btn btn-success">Filtrar</button> -->
    <!-- </div> -->
    <p></p>
    <p></p>
    <p></p>
    <div *ngIf="parqueos.length > 0" class ="scrollmenu" style="width: 1100px; height: 500px; overflow-y: scroll;">
      <ul class="list-group">
            <li class="list-group-item" *ngFor="let parqueo of parqueos, index as i">
                <h4>
                    Nombre: {{parqueo.nombre}}
                </h4>
                <h6>
                    Ubicación: {{parqueo.ubicacion}}
                </h6>
                <h6>
                    {{parqueo.espaciosDisponibles}} de {{parqueo.espaciosTotal}} puestos disponibles
                </h6>
                <a [routerLink]="['/un-estacionamiento',i]"> Ver más información </a>
            </li>
        </ul>
    </div>
    <div *ngIf="parqueos.length == 0">
        <h4>No tiene parqueos asignados como encargado</h4>
    </div>
</div>