<div class="mt-5">
    <h2>¡Bienvenido!</h2>
    <p>Selecciona un parqueo:</p>
    <label>Tipo de parqueo: </label>
        <select [(ngModel)]="tipoParqueo" id="dropdown2">
            <option [(ngModel)]="tipoParqueo">Cualquiera</option>
            <option [(ngModel)]="tipoParqueo" *ngFor="let tipo of tiposParqueos,index as i">{{tipo}}</option>
        </select>
    <!-- <div class="btn-group">
        <button [(ngModel)]="tipoParqueo" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Tipo de parqueo</button>
        <ul class="dropdown-menu" [(ngModel)]="tipoParqueo">
            <li ><a *ngFor="let tipo of tiposParqueos" class="dropdown-item" [routerLink]="'/consultar-parqueos'">{{tipo}}</a></li>
        </ul> -->
        <button (click)="filtrarPorTipo()" class="btn btn-success">filtrar</button>
    <!-- </div> -->
    <p></p>
    <p></p>
    <p></p>
    <div style="width: 700px; height: 400px; overflow-y: scroll;">
      <ul class="list-group">
            <li class="list-group-item" *ngFor="let parqueo of parqueos, index as i">
                <h6>
                    Nombre: {{parqueo.nombre}}
                </h6>
                <h6>
                    Ubicación: {{parqueo.ubicacion}}
                </h6>
                <h6>
                    {{parqueo.espaciosDisponibles}} de {{parqueo.espaciosTotal}} puestos disponibles
                </h6>
                <a [routerLink]="['/un-estacionamiento',i]"> Leer más...</a>
            </li>
        </ul>
    </div>
</div>