<div class="mt-5" *ngIf="usuarioLoggeado['tipoUsuario']==tUsuario.COMUN; else elseBlock">
        <h1>Editar mi la Información de mi cuenta</h1>
        <div>
            <div class="form-group">
              <label for="estacionamiento">Identificación</label>
              <input id="campoid" type="number" [(ngModel)]="identificacion" readonly=»readonly» class="form-control" name="identificacion" value="{{identificacion}}">
            </div>
            
            <div class="form-group">
              <label for="especiales" >¿Presenta alguna discapacidad?</label>
                <p></p>
                <div *ngIf="necesidadEspecial; else elseBlockSpecialNeed">
                  <input disabled [(ngModel)]="necesidadEspecial" type="radio" id="siPresenta"  name="necesidadEspecial" [value]="true" checked>
                  <label for="siPresenta">Sí</label><br>
                  <input disabled [(ngModel)]="necesidadEspecial" type="radio" id="noPresenta"  [value]="false" name="necesidadEspecial">
                  <label for="noPresenta">No</label><br>
              </div>
              <ng-template #elseBlockSpecialNeed>
                  <input disabled [(ngModel)]="necesidadEspecial" type="radio" id="siPresenta" name="necesidadEspecial" [value]="true" >
                 <label for="siPresenta">Sí</label><br>
                  <input disabled [(ngModel)]="necesidadEspecial" type="radio" id="noPresenta" name="necesidadEspecial" [value]="false" checked>
                <label for="noPresenta">No</label><br>
            </ng-template>
            </div>
            <div class="form-group">
              <label for="nombreCompleto">Nombre Completo</label>
              <input type="text" readonly=»readonly» [(ngModel)]="nombreCompleto" class="form-control" name="nombreCompleto">
            </div>
            <div class="btn-group">
              <label>Departamento: </label>&nbsp;&nbsp;&nbsp;
              <select [(ngModel)]="departamentoSelect" id="dropdown" name="departamento" disabled>
                    <option *ngFor="let func of departamentos,index as i">{{func["descripcion"]}}</option>
              </select>
            </div>
            <div class="form-group">
                <div class="btn-group">
                  <label>Tipo de funcionario: </label>&nbsp;&nbsp;&nbsp;
                  <select id="dropdown" disabled>
                        <option [(ngModel)]="tipo" value="A" >{{tipo}}</option>
                </select>
              </div>
              </div>
    
              <div class="form-group">
                <label for="correoAlterno">Correo Alterno</label>
                <input type="text" [(ngModel)]="correoAlterno" class="form-control" name="correoAlterno">
              </div>
    
              <div class="form-group">
                <label for="correoInstitucional" >Correo Institucional</label>
                <input type="text" readonly=»readonly» [(ngModel)]="correoInstitucional" class="form-control" name="correoInstitucional">
              </div>
    
              <div class="form-group">
                <label for="esJefe">¿Es jefatura?</label>
                <p></p>
                <div *ngIf="esJefatura; else elseBlockJefatura">
                  <input disabled [(ngModel)]="esJefatura" type="radio" id="siEsJefe" disabled="disabled"  name="esJefe" [value]="true" checked>
                  <label for="siEsJefe">Sí</label><br>
                  <input disabled [(ngModel)]="esJefatura" type="radio" id="noEsJefe" disabled="disabled"  name="esJefe" [value]="false">
                  <label for="noEsJefe">No</label><br>
              </div>
              <ng-template #elseBlockJefatura>
                  <input disabled [(ngModel)]="esJefatura" type="radio" id="siEsJefe" disabled="disabled"  value="Sí" name="esJefe" [value]="true" >
                 <label for="siEsJefe">Sí</label><br>
                  <input disabled [(ngModel)]="esJefatura" type="radio" id="noEsJefe" disabled="disabled"  [value]="false" name="esJefe" checked>
                <label for="noEsJefe">No</label><br>
            </ng-template>
              </div>   
              <div class="form-group">
                <label for="oficiales">Vehiculos asignados</label>
                <input type="text" [(ngModel)]="nuevoVehiculo" class="form-control" name="vehiculos">
                <p></p>
                <p></p>
                <button type="button" class="btn btn-secondary" (click)="agregarVehiculo()">Agregar</button>
                <p></p>
                <p></p>
                <div style="width: 400px; height: 200px; overflow-y: scroll;">
                  <ul class="list-group">
                        <li class="list-group-item" *ngFor="let placa of vehiculos, index as i">
                            <h6>
                                {{i}}: {{placa}}
                            </h6>
                            <button type="button" class="btn btn-secondary" (click)="quitarVehiculo(i)">eliminarPlaca</button>
                        </li>
                    </ul>
                </div>
              </div>  
              <div class="form-group">
                <p></p>
                <p></p>
              </div>
              <div>
                <H2>Horarios</H2>
              </div>
              <div>
                <div style="width: 400px; height: 200px; overflow-y: scroll;">
                  <ul class="list-group">
                        <li class="list-group-item" *ngFor="let horario of horarios, index as i">
                          <div class="horariosForm">
                            <h6>{{horario.dia}}</h6>
                            <p></p><p></p>
                            <small>Hora de Entrada: </small>
                            <p></p><p></p>
                            <input type="time" id="horaLunesEntrada" name="horaLunesEntrada" min="00:00" max="24:00" [(ngModel)]="horario.inicio" disabled>
                            <p></p>
                            <small>Hora de Salida: </small>
                            <p></p>
                            <input type="time" id="horaLunesSalida" name="horaLunesSalida" min="00:00" max="24:00" [(ngModel)]="horario.fin" disabled>
                            <span class="input-group-btn" 
                                style="width:0px;"></span>
                            </div>
                        </li>
                    </ul>
                </div>
              </div>    
              <div class="form-group">
                <label for="contrasena">Contraseña </label>&nbsp;&nbsp;&nbsp;
                <button [routerLink]="'/cambiar-contrasena'" class="btn btn-success"> Cambiar Contraseña</button>
                <!-- <input type="password" [(ngModel)]="contrasena" class="form-control" name="contrasena"> -->
              </div>
              <div class="form-group">
              <label for="celular">Celular</label>
              <input type="number" [(ngModel)]="celular" class="form-control" name="celular">
            </div>          
          <P></P>
          <P></P>
          <div *ngIf="submitted1; else elseSubmit" class="col text-center">
            <button (click)="editarUsuario()" class="btn btn-success">Actualizado</button>
          </div>
          <ng-template #elseSubmit >
            <div class="col text-center">
            <button (click)="editarUsuario()" class="btn btn-success">Actualizar</button>
            </div>
          </ng-template>
    </div>
</div>

<ng-template #elseBlock>
    <div class="mt-5">
        <h1>Editar mi la Información de mi cuenta Administrador</h1>
            <div class="form-group">
              <label for="estacionamiento">Identificación</label>
              <input id="campoid" type="number" [(ngModel)]="identificacion" readonly=»readonly» class="form-control" name="identificacion" value="{{identificacion}}">
            </div>
            
            <div class="form-group">
              <label for="especiales" >¿Presenta alguna discapacidad?</label>
                <p></p>
                <div *ngIf="necesidadEspecial; else elseBlockSpecialNeed">
                    <input [(ngModel)]="necesidadEspecial" type="radio" id="siPresenta"  name="necesidadEspecial" [value]="true" checked>
                    <label for="siPresenta">Sí</label><br>
                    <input [(ngModel)]="necesidadEspecial" type="radio" id="noPresenta"  [value]="false" name="necesidadEspecial">
                    <label for="noPresenta">No</label><br>
                </div>
                <ng-template #elseBlockSpecialNeed>
                    <input [(ngModel)]="necesidadEspecial" type="radio" id="siPresenta" name="necesidadEspecial" [value]="true" >
                   <label for="siPresenta">Sí</label><br>
                    <input [(ngModel)]="necesidadEspecial" type="radio" id="noPresenta" name="necesidadEspecial" [value]="false" checked>
                  <label for="noPresenta">No</label><br>
              </ng-template>
            </div>
            <div class="form-group">
              <label for="nombreCompleto">Nombre Completo</label>
              <input type="text" [(ngModel)]="nombreCompleto" class="form-control" name="nombreCompleto">
            </div>
            <div class="btn-group">
              <label>Departamento: </label>&nbsp;&nbsp;&nbsp;
              <select [(ngModel)]="departamentoSelect" id="dropdown" name="departamento">
                    <option *ngFor="let func of departamentos,index as i">{{func["descripcion"]}}</option>
              </select>
            </div>
    
            <div class="form-group">
                <div class="btn-group">
                  <label>Tipo de funcionario: </label>&nbsp;&nbsp;&nbsp;
                  <select [(ngModel)]="tipo" id="dropdown">
                        <option>{{tipo2}}</option>
                        <option *ngFor="let func of tiposFuncionarios,index as i">{{func}}</option>
                  </select>
                </div>
              </div>
    
              <div class="form-group">
                <label for="correoAlterno">Correo Alterno</label>
                <input type="text" [(ngModel)]="correoAlterno" class="form-control" name="correoAlterno">
              </div>
    
              <div class="form-group">
                <label for="correoInstitucional" >Correo Institucional</label>
                <input type="text" [(ngModel)]="correoInstitucional" class="form-control" name="correoInstitucional">
              </div>
    
              <div class="form-group">
                <label for="esJefe">¿Es jefatura? </label>
                <p></p>
                <div *ngIf="esJefatura; else elseBlockJefatura">
                  <input  [(ngModel)]="esJefatura" type="radio" id="siEsJefe"  name="esJefe" [value]="true" checked>
                  <label for="siEsJefe">Sí</label><br>
                  <input  [(ngModel)]="esJefatura" type="radio" id="noEsJefe"  name="esJefe" [value]="false">
                  <label for="noEsJefe">No</label><br>
              </div>
              <ng-template #elseBlockJefatura>
                  <input  [(ngModel)]="esJefatura" type="radio" id="siEsJefe" [value]="true" name="esJefe" value="Sí" >
                 <label for="siEsJefe">Sí</label><br>
                  <input  [(ngModel)]="esJefatura" type="radio" id="noEsJefe" [value]="false" name="esJefe" checked>
                <label for="noEsJefe">No</label><br>
            </ng-template>
              </div>   
              <div class="form-group">
                <label for="oficiales">Vehiculos asignados</label>
                <input type="text" [(ngModel)]="nuevoVehiculo" class="form-control" name="vehiculos">
                <p></p>
                <p></p>
                <p></p>
                <button type="button" class="btn btn-secondary" (click)="agregarVehiculo()">Agregar</button>
                <p></p>
                <p></p>
                <p></p>
                <div style="width: 400px; height: 200px; overflow-y: scroll;">
                  <ul class="list-group">
                        <li class="list-group-item" *ngFor="let placa of vehiculos, index as i">
                            <h6>
                                {{i}}: {{placa}}
                            </h6>
                            <button type="button" class="btn btn-secondary" (click)="quitarVehiculo(i)">eliminarPlaca</button>
                        </li>
                    </ul>
                </div>
              </div>
              <div>
                <label for="oficiales">Agregar horarios</label>
              </div>
              <div class="horariosForm">
                <select [(ngModel)]="horarioDia" id="dropdown" name="diaHorario">
                  <option *ngFor="let func of dias,index as i">{{func}}</option>
                </select>
                <p></p><p></p>
                <small>Hora de Entrada: </small>
                <p></p><p></p>
                <input type="time" id="horaLunesEntrada" name="horaLunesEntrada" min="00:00" max="24:00" [(ngModel)]="horarioInicio">
                <p></p>
                <small>Hora de Salida: </small>
                <p></p>
                <input type="time" id="horaLunesSalida" name="horaLunesSalida" min="00:00" max="24:00" [(ngModel)]="horarioFin">
                <span class="input-group-btn" 
                    style="width:0px;"></span>
            </div>
            <p></p>
            <button style="position: relative; left:200px; top:-150px;" type="button" class="btn btn-secondary" (click)="agregarHorario()">Agregar</button>
              <div>
                <div style="width: 400px; height: 260px; overflow-y: scroll;">
                  <ul class="list-group">
                        <li class="list-group-item" *ngFor="let horario of horarios, index as i">
                          <div class="horariosForm">
                            <h6>{{horario.dia}}</h6>
                            <p></p><p></p>
                            <small>Hora de Entrada: </small>
                            <p></p><p></p>
                            <input type="time" id="horaLunesEntrada" name="horaLunesEntrada" min="00:00" max="24:00" [(ngModel)]="horario.inicio" disabled>
                            <p></p>
                            <small>Hora de Salida: </small>
                            <p></p>
                            <input type="time" id="horaLunesSalida" name="horaLunesSalida" min="00:00" max="24:00" [(ngModel)]="horario.fin" disabled>
                            <span class="input-group-btn" 
                                style="width:0px;"></span>
                        </div>
                            <button style="position: relative; left: 10px; top: -70px;" type="button" class="btn btn-secondary" (click)="eliminarHorario(i)">eliminarHorario</button>
                        </li>
                    </ul>
                </div>
              </div>    
              <div class="form-group">
                <label for="contrasena">Contraseña </label>&nbsp;&nbsp;&nbsp;
                <button [routerLink]="'/cambiar-contrasena'" class="btn btn-success"> Cambiar Contraseña</button>
                <!-- <input type="password" [(ngModel)]="contrasena" class="form-control" name="contrasena"> -->
              </div>
              <div class="form-group">
              <label for="celular">Celular</label>
              <input type="number" [(ngModel)]="celular" class="form-control" name="celular">
            </div>          
            <P></P>
            <P></P>
            <div *ngIf="submitted1; else elseSubmit" class="col text-center">
              <button (click)="editarUsuario()" class="btn btn-success">Actualizado</button>
            </div>
            <ng-template #elseSubmit >
              <div class="col text-center">
              <button (click)="editarUsuario()" class="btn btn-success">Actualizar</button>
              </div>
            </ng-template>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    
</ng-template>
