

<div class="content">

      <body class="text-center" *ngIf="funcionarioService.isLoggedInBool == false">
         
        <main class="form-signin">
          <form>
            
            <div class="alert alert-fail" role="alert" *ngIf= "failedPassword">
              Contraseña Incorrecta!
            </div>
            <h1 class="h3 mb-3 fw-normal">Inicio de sesión</h1>
        
            <div class="form-floating">
              <label for="floatingInput">Correo Institucional</label>
              <input type="text" [(ngModel)]="receivedUsername" class="form-control" id="floatingInput" name="Username">
              
            </div>
            <div class="form-floating">
              <label for="floatingPassword">Contraseña</label>
              <input type="password" [(ngModel)]="receivedPassword" class="form-control" id="floatingPassword" name="Password">
              
            </div>
            <p></p>
            <h6>Fecha y hora a simular:</h6>
            <input type="datetime-local" id="daytime" name="daytime" [(ngModel)]="simulacionDia">
            <p></p>

            <button class="w-100 btn btn-lg btn-primary" type="submit"  (click)="submitLoginData()" >Aceptar</button>
            
          </form>
          
          
        </main>
        
      
          </body>
          <p></p>
          <p></p>
          <p></p>
          <div class="dashboardContent" *ngIf="funcionarioService.isLoggedInBool == true">
            <h1 class="text-center">¡Bienvenido!</h1>
          </div>
          
         <!-- ALERT  WARNING START -->
          <div class="alert alert-danger" *ngIf="failedDate">
            <strong>Fecha para simular inválida</strong> Revisa lo que introdujiste.
          </div>
          <div class="alert alert-danger" *ngIf="funcionarioService.failedPassword">
            <strong>El correo o contraseña no son correctos!</strong> Revisa lo que introdujiste.
          </div>
          
        
        <!-- ALERT  WARNING END -->
        
</div>
