<div class="mt-5" >
    <h1>Gestionar Funcionarios</h1>
    <h3>Agregar un nuevo funcionario</h3>
    <form>

<div class="form-group">
          <label for="funcionario">Nombre del funcionario</label>
          <input type="text" [(ngModel)]="funcionarioSelec.nombreCompleto" class="form-control" name="estacionamiento">
        </div>

        <div class="form-group">
          <label for="identificacion">Identificación</label>
          <input type="text" [(ngModel)]="funcionarioSelec.identificacion" class="form-control" name="identificacion">
        </div>


        <div class="form-group">
          <label for="codigo">Código</label>
          <input type="text" [(ngModel)]="funcionarioSelec.codigo" class="form-control" name="codigo">
        </div>
        
        <div class="form-group">
          <label for="correoAlterno">Correo Alterno</label>
          <input type="text" [(ngModel)]="funcionarioSelec.correoAlterno" class="form-control" name="correoAlterno">
        </div>
        
        <div class="form-group">
          <label for="correoInstitucional">Correo Institucional</label>
          <input type="text" [(ngModel)]="funcionarioSelec.correoInstitucional" class="form-control" name="correoInstitucional">
        </div>

        <div class="form-group">
          <label for="celular">Celular</label>
          <input type="text" [(ngModel)]="funcionarioSelec.celular" class="form-control" name="celular">
        </div>

          <div class="btn-group" role="group" aria-label="Basic example">
            <label>Tipo de funcionario</label>
            <button type="button" class="btn btn-secondary" (click)="tipoFuncionario(2)">Docente</button>
            <button type="button" class="btn btn-secondary" (click)="tipoFuncionario(1)">Administrativo</button>
            <button type="button" class="btn btn-secondary" (click)="tipoFuncionario(3)">Jefatura</button>
            <button type="button" class="btn btn-secondary" (click)="tipoFuncionario(4)">Visitante</button>
            <label>Tipo de usuario</label>
            <button type="button" class="btn btn-secondary" (click)="tipoUsuario(2)">Comun</button>
            <button type="button" class="btn btn-secondary" (click)="tipoUsuario(1)">Administrador</button>
            <label>Campus al que pertenece</label>
            <button type="button" class="btn btn-secondary" (click)="campusFuncionario(1)">San Jose</button>
            <button type="button" class="btn btn-secondary" (click)="campusFuncionario(2)">Cartago</button>
            <button type="button" class="btn btn-secondary" (click)="campusFuncionario(3)">Alajuela</button>
            <button type="button" class="btn btn-secondary" (click)="campusFuncionario(4)">San Carlos</button>
            <button type="button" class="btn btn-secondary" (click)="campusFuncionario(5)">Limon</button>
            <button type="submit" class="btn btn-primary" (click)="agregarFuncionario()">Agregar</button>
            <button type="submit" *ngIf="isEditing == true" class="btn btn-primary" (click)="actualizarFuncionario()">Editar</button>
            <button type="submit" *ngIf="isSelected == true" class="btn btn-danger" (click)="eliminarFuncionario()">Borrar</button>
          </div>
        
      </form>

        


<p></p>
<p></p>
<h3>Lista de Funcionarios</h3>
<div class="container">
    
        <ul class="list-group">
    <li class="list-group-item list-group-item-action">Nombre funcionario</li>
    <li *ngFor="let funcionario of listaFuncionarios" class="list-group-item list-group-item-action"
    data-aos="fade-right"
    (click)="cargarFuncionarioSelec(funcionario)"
    [class.active]="funcionario == funcionarioSelec">
        {{funcionario.nombreCompleto}}
    </li>
    <p></p>
    <p></p>
    <p></p> 
    <p></p>
    <p></p>
    <p></p> 
  </ul>
    
  
</div>
