<div class="mt-5" >
    <h1>Gestionar Funcionarios</h1>
    <h3>Agregar un nuevo funcionario</h3>
    <form>

<div class="form-group">
          <label for="funcionario">Nombre del funcionario</label>
          <input type="text" [(ngModel)]="funcionarioSelec.nombreCompleto" class="form-control" name="estacionamiento">
        </div>

        <div class="form-group" *ngIf="isEditing; else elseEditing">
          <label for="identificacion">Identificación</label>
          <input readonly=»readonly» type="text" [(ngModel)]="funcionarioSelec.identificacion" class="form-control" name="identificacion">
        </div>
        <ng-template #elseEditing>
          <label for="identificacion">Identificación</label>
          <input type="text" [(ngModel)]="funcionarioSelec.identificacion" class="form-control" name="identificacion">
        </ng-template>
          <h4>Cambiar contraseña...</h4>
          <label for="contrasena">Escriba su nueva contraseña</label>
          <input type="password" [(ngModel)]="funcionarioSelec.contrasena" class="form-control" name="contrasena">
          <label for="contrasena">Confirme su nueva contraseña</label>
          <input type="password" [(ngModel)]="confirmar" class="form-control" name="contrasena">
          <div class="alert alert-fail" role="alert" *ngIf= "!todobien">
            Las contraseñas no coinciden o no ha creado una
          </div>


        <div class="form-group">
          <label for="codigo">Código</label>
          <input type="text" [(ngModel)]="funcionarioSelec.codigo" class="form-control" name="codigo">
        </div>
        
        <div class="form-group">
          <label for="correoAlterno">Correo Alterno</label>
          <input type="text" [(ngModel)]="funcionarioSelec.correoAlterno" class="form-control" name="correoAlterno">
        </div>
        
        <div class="form-group">
          <label for="correoInstitucional">Correo Institucional</label>
          <input type="text" [(ngModel)]="funcionarioSelec.correoInstitucional" class="form-control" name="correoInstitucional">
        </div>

        <div class="form-group">
          <label for="celular">Celular</label>
          <input type="text" [(ngModel)]="funcionarioSelec.celular" class="form-control" name="celular">
        </div>

          <div class="btn-group" role="group" aria-label="Basic example">
            
            <div class="template-tabs-container">
             
              <label>Tipo de funcionario</label>
               <div class="buttons" tile color="secondary" group>
                <button type="button" class="btn btn-secondary" (click)="tipoFuncionario(2)" [class.btn-success]="tipofuncionarioSelec == 2">Docente</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" (click)="tipoFuncionario(1)" [class.btn-success]="tipofuncionarioSelec == 1">Administrativo</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" (click)="tipoFuncionario(3)" [class.btn-success]="tipofuncionarioSelec == 3">Jefatura</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" (click)="tipoFuncionario(4)" [class.btn-success]="tipofuncionarioSelec == 4">Visitante</button>&nbsp;&nbsp;&nbsp;
              </div>
              
            
            <label>Tipo de usuario</label>
            <div class="buttons" tile color="secondary" group>
              <button type="button" class="btn btn-secondary" (click)="tipoUsuario(2)" [class.btn-success]="usuarioSelec == 2">Comun</button>&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-secondary" (click)="tipoUsuario(1)" [class.btn-success]="usuarioSelec == 1">Administrador</button>&nbsp;&nbsp;&nbsp;
            </div>
          
            
            <label>Campus al que pertenece</label>
            <div class="buttons" tile color="secondary" group>
            <button type="button" class="btn btn-secondary" (click)="campusFuncionario(1)" [class.btn-success]="campusSelec == 1">San Jose</button>&nbsp;&nbsp;&nbsp;
            
            <button type="button" class="btn btn-secondary" (click)="campusFuncionario(2)" [class.btn-success]="campusSelec == 2">Cartago</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary" (click)="campusFuncionario(3)" [class.btn-success]="campusSelec == 3">Alajuela</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary" (click)="campusFuncionario(4)" [class.btn-success]="campusSelec == 4">San Carlos</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary" (click)="campusFuncionario(5)" [class.btn-success]="campusSelec == 5">Limon</button>&nbsp;&nbsp;&nbsp;
            </div>
            <p></p>
            <p></p>
            <p></p>
            <label>Por realizar: </label>
            <button type="submit" class="btn btn-primary" (click)="agregarFuncionario()">Agregar</button>&nbsp;&nbsp;&nbsp;
            <button type="submit" *ngIf="isEditing == true" class="btn btn-primary" (click)="actualizarFuncionario()">Editar</button>&nbsp;&nbsp;&nbsp;
            <button type="submit" *ngIf="isSelected == true" class="btn btn-danger" (click)="eliminarFuncionario()">Borrar</button>&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        
      </form>

        


<p></p>
<p></p>
<h3>Lista de Funcionarios</h3>
<div class="container">
    
        <ul class="list-group">
    <li class="list-group-item list-group-item-action">Nombre funcionario</li>
    <li *ngFor="let funcionario of listaFuncionarios" class="list-group-item list-group-item-action"
    data-aos="fade-right"
    (click)="cargarFuncionarioSelec(funcionario)"
    [class.active]="funcionario == funcionarioSelec">
        {{funcionario.nombreCompleto}}
    </li>
    <p></p>
    <p></p>
    <p></p> 
    <p></p>
    <p></p>
    <p></p> 
  </ul>
    
  
</div>
