<div class="mt-5" >
    <h1>Gestionar Fucnionarios</h1>
    <h3>Agregar un nuevo funcionario</h3>
    <form>
        <!--
<div class="form-group">
          <label for="funcionario">Nombre del funcionario</label>
          <input type="text" [(ngModel)]="funcionarioSelec.nombre" class="form-control" name="estacionamiento">
        </div>

        <div class="form-group">
          <label for="identificacion">Identificación</label>
          <input type="text" [(ngModel)]="funcionarioSelec.ubicacion" class="form-control" name="identificacion">
        </div>

        <div class="form-group">
          <label for="nombreCompleto">Nombre Completo</label>
          <input type="text" [(ngModel)]="funcionarioSelec.nombreCompleto" class="form-control" name="nombreCompleto">
        </div>


        <div class="form-group">
          <label for="codigo">Código</label>
          <input type="text" [(ngModel)]="funcionarioSelec.codigo" class="form-control" name="codigo">
        </div>
        
        <div class="form-group">
          <label for="correoAlterno">Correo Alterno</label>
          <input type="text" [(ngModel)]="funcionarioSelec.correoAlterno" class="form-control" name="correoAlterno">
        </div>
        
        <div class="form-group">
          <label for="correoInstitucional">Correo Institucional</label>
          <input type="text" [(ngModel)]="funcionarioSelec.correoInstitucional" class="form-control" name="correoInstitucional">
        </div>

        <div class="form-group">
          <label for="celular">Celular</label>
          <input type="text" [(ngModel)]="funcionarioSelec.celular" class="form-control" name="celular">
        </div>



        

          <div class="btn-group" role="group" aria-label="Basic example">
            <label>Tipo de estacionamiento</label>
            <button type="button" class="btn btn-secondary" (click)="tipoFuncionario()">Propio</button>
            <button type="button" class="btn btn-secondary" (click)="tipoUsuario()">Subcontratado</button>
            <button type="submit" class="btn btn-primary" (click)="agregarFuncionario()">Agregar</button>
            <button type="submit" *ngIf="isEditing == true" class="btn btn-primary" (click)="actualizarEstacionamiento()">Editar</button>
            <button type="submit" *ngIf="isSelected == true" class="btn btn-danger" (click)="eliminarEstacionamiento()">Borrar</button>
          </div>
</div>
      </form>
        -->
        


<p></p>
<p></p>
<h3>Lista de Funcionarios</h3>
<div class="container">
    <!---
        <ul class="list-group">
    <li class="list-group-item list-group-item-action">Nombre estacionamiento</li>
    <li *ngFor="let estacionamiento of listaEstacionamientos" class="list-group-item list-group-item-action"
    data-aos="fade-right"
    (click)="cargarEstacionamientoSelec(estacionamiento)"
    [class.active]="estacionamiento == estacionamientoSelec">
        {{estacionamiento.nombre}}
    </li>
    <p></p>
    <p></p>
    <p></p> 
    <p></p>
    <p></p>
    <p></p> 
  </ul>
    -->
  
</div>
