<div class="mt-5">
    <h3 style="text-align: center;"> Nombre: {{parqueos[0].nombre}}</h3>
    <p></p>
    <p></p>
    <p></p>
    <p class="aligncenter">
        <img src={{parqueos[0].imagen}} alt="Fachada del parqueo" height="500">
    </p>
    
    <p></p>
    <p></p>
    <p></p>
    
    <h4> 
        Ubicación:
    </h4>
    <h6>{{parqueos[0].ubicacion}}</h6>
    <h4> 
        Total de espacios:
    </h4>
    <h6> {{parqueos[0].espaciosTotal}}</h6>
    <h4> 
        Espacios disponibles: 
    </h4>
    <h6> {{parqueos[0].espaciosDisponibles}}</h6>
    <h4> 
        Tipo de parqueo: 
    </h4>
    <h6> {{parqueos[0].tipo}}</h6>
</div>