<div class="mt-5">
    <h3 style="text-align: center;"> Nombre: {{parqueos[0].nombre}}</h3>
    <p></p>
    <p></p>
    <p></p>
    <p class="aligncenter">
        <img src={{parqueos[0].imagen}} alt="Fachada del parqueo" height="500">
    </p>
    
    <p></p>
    <p></p>
    <p></p>
    
    <h4> 
        Ubicación:
    </h4>
    <h6>{{parqueos[0].ubicacion}}</h6>
    <h4> 
        Total de espacios:
    </h4>
    <h6> {{parqueos[0].espaciosTotal}}</h6>
    <h4> 
        Espacios disponibles: 
    </h4>
    <h6> {{parqueos[0].espaciosDisponibles}}</h6>
    <h4>
        horarios:
    </h4>
    <div class="horariosForm">
        <h5>Lunes</h5>
        <p></p><p></p>
        <small>Hora de Entrada: </small>
        <p></p><p></p>
        <input type="time" id="horaLunesEntrada" name="horaLunesEntrada" min="00:00" max="24:00" [value]="horarioLunes['inicio']" disabled>
        <p></p>
        <small>Hora de Salida: </small>
        <p></p>
        <input type="time" id="horaLunesSalida" name="horaLunesSalida" min="00:00" max="24:00" [value]="horarioLunes['fin']" disabled>
        <span class="input-group-btn" 
            style="width:0px;"></span> 
    </div>
    <div class="horariosForm">
        <!--
        Martes
        -->
        <h5>Martes</h5>
        <p></p><p></p>
        <small>Hora de Entrada: </small>
        <p></p><p></p>
        <input type="time" id="horaMartesEntrada" name="horaMartesEntrada" min="00:00" max="24:00" [value]="horarioMarte['inicio']" disabled>
        <p></p>
        <small>Hora de Salida: </small>
        <p></p>
        <input type="time" id="horaMartesSalida" name="horaMartesSalida" min="00:00" max="24:00" [value]="horarioMarte['fin']" disabled>
    </div>
    
    <div class="horariosForm">
      <!--
      Miercoles
      -->
      <h5>Miercoles</h5>
      <p></p><p></p>
      <small>Hora de Entrada: </small>
      <p></p><p></p>
      <input type="time" id="horaMiercolesEntrada" name="horaMiercolesEntrada" min="00:00" max="24:00" [value]="horarioMierc['inicio']" disabled>
      <p></p>
      <small>Hora de Salida: </small>
      <p></p>
      <input type="time" id="horaMiercolesSalida" name="horaMiercolesSalida" min="00:00" max="24:00" [value]="horarioMierc['fin']" disabled>
  </div>
  <div class="horariosForm">
    <!--
    Jueves
    -->
    <h5>Jueves</h5>
    <p></p><p></p>
    <small>Hora de Entrada: </small>
    <p></p><p></p>
    <input type="time" id="horaJuevesEntrada" name="horaJuevesEntrada" min="00:00" max="24:00" [value]="horarioJueve['inicio']" disabled>
    <p></p>
    <small>Hora de Salida: </small>
    <p></p>
    <input type="time" id="horaJuevesSalida" name="horaJuevesSalida" min="00:00" max="24:00" [value]="horarioJueve['fin']" disabled>
</div>

<div class="horariosForm">
  <!--
  Viernes
  -->
  <h5>Viernes</h5>
  <p></p><p></p>
  <small>Hora de Entrada: </small>
  <p></p><p></p>
  <input type="time" id="horaViernesEntrada" name="horaViernesEntrada" min="00:00" max="24:00" [value]="horarioViern['inicio']" disabled>
  <p></p>
  <small>Hora de Salida: </small>
  <p></p>
  <input type="time" id="horaViernesSalida" name="horaViernesSalida" min="00:00" max="24:00" [value]="horarioViern['fin']" disabled>
</div>
<div class="horariosForm">
  <!--
  Sabado
  -->
  <h5>Sabado</h5>
  <p></p><p></p>
  <small>Hora de Entrada: </small>
  <p></p><p></p>
  <input type="time" id="horaSabadoEntrada" name="horaSabadoEntrada" min="00:00" max="24:00" [value]="horarioSabad['inicio']" disabled>
  <p></p>
  <small>Hora de Salida: </small>
  <p></p>
  <input type="time" id="horaSabadoSalida" name="horaSabadoSalida" min="00:00" max="24:00"[value]="horarioSabad['fin']" disabled>
</div>
<div class="horariosForm">
  <!--
  Domingo
  -->
  <h5>Domingo</h5>
  <p></p><p></p>
  <small>Hora de Entrada: </small>
  <p></p><p></p>
  <input type="time" id="horaDomingoEntrada" name="horaDomingoEntrada" min="00:00" max="24:00" [value]="horarioDomin['inicio']" disabled>
  <p></p>
  <small>Hora de Salida: </small>
  <p></p>
  <input type="time" id="horaDomingoSalida" name="horaDomingoSalida" min="00:00" max="24:00" [value]="horarioDomin['fin']" disabled>
</div>
    <h4> 
        Tipo de parqueo: 
    </h4>
    <h6> {{parqueos[0].tipo}}</h6>
</div>