<h1>Cambiar Contraseña</h1>
<form>
    <div class="form-floating">
      <label for="floatingInput">Ingrese su vieja contraseña</label>
      <input type="text" [(ngModel)]="oldPassword" class="form-control" id="floatingInput" name="Username">
    </div>
    <div class="form-floating">
      <label for="floatingPassword">Ingrese su nueva contraseña</label>
      <input type="password" [(ngModel)]="newPassword" class="form-control" id="floatingPassword" name="Password">
    </div>
    <p></p>
    <p></p>
    <p></p>
    <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="cambiarContrasena()">Cambiar contraseña</button>
    <p></p>
    <p></p>
    <p></p>
    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p> -->
    <div class="alert alert-success" role="alert" *ngIf= "exito">
        Contraseña Cambiada!
      </div>
      <div class="alert alert-success" role="alert" *ngIf= "!   exito">
        ***
      </div>
</form>
